<!DOCTYPE html>
<html>
<head>
    <title>Crear Carrito</title>
</head>
<body>
    <h1>Crear Carrito</h1>
    <form action="/carrito/crear" method="post">
            <label for="id">id:</label>
            <input type="text" name="id" id="id" /><br />
            <label for="clienteId">clienteId:</label>
            <input type="text" name="clienteId" id="clienteId" /><br />
            <label for="fechaCreacion">fechaCreacion:</label>
            <input type="text" name="fechaCreacion" id="fechaCreacion" /><br />
        <input type="submit" value="Crear" />
    </form>
    <a href="/carrito">Volver a la lista</a>
</body>
</html>