<!DOCTYPE html>
<html>
<head>
    <title>Crear Cliente</title>
</head>
<body>
    <h1>Crear Cliente</h1>
    <form action="/cliente/crear" method="post">
            <label for="id">id:</label>
            <input type="text" name="id" id="id" /><br />
            <label for="nombre">nombre:</label>
            <input type="text" name="nombre" id="nombre" /><br />
            <label for="direccion">direccion:</label>
            <input type="text" name="direccion" id="direccion" /><br />
            <label for="telefono">telefono:</label>
            <input type="text" name="telefono" id="telefono" /><br />
        <input type="submit" value="Crear" />
    </form>
    <a href="/cliente">Volver a la lista</a>
</body>
</html>